In [1]:
# 1
def amplify(num):
  return [i*10 if i % 4 == 0 else i for i in range(1, num+1)]

print(amplify(4))  # [1, 2, 3, 40]
print(amplify(3))  # [1, 2, 3]
print(amplify(25)) # [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]

[1, 2, 3, 40]
[1, 2, 3]
[1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]

In [2]:
# 2
def unique(lst):
  for num in lst:
    if lst.count(num) == 1:
      return num

print(unique([3, 3, 3, 7, 3, 3]))  # 7
print(unique([0, 0, 0.77, 0, 0]))  # 0.77
print(unique([0, 1, 1, 1, 1, 1, 1, 1]))  # 0

7
0.77
0

In [3]:
# 3
import math

class Circle:
  def __init__(self, radius):
    self.radius = radius

  def getArea(self):
    return math.ceil(math.pi * self.radius**2)

  def getPerimeter(self):
    return math.ceil(2 * math.pi * self.radius)

circy = Circle(11)
print(circy.getArea())  # 380
circy = Circle(4.44)
print(circy.getPerimeter())  # 28

381
28

In [4]:
# 4
def sort_by_length(lst):
  return sorted(lst, key=lambda x: len(x))

print(sort_by_length(["Google", "Apple", "Microsoft"]))  # ['Apple', 'Google', 'Microsoft']
print(sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"]))  # ['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']
print(sort_by_length(["Turing", "Einstein", "Jung"]))  # ['Jung', 'Turing', 'Einstein']

['Apple', 'Google', 'Microsoft']
['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']
['Jung', 'Turing', 'Einstein']

In [6]:

# 5
def mean(num):
    return sum([int(ch) for ch in str(num)]) // len(str(num))

print(mean(42)) # 3
print(mean(12345)) # 3
print(mean(666)) # 6

3
3
6