In [1]:
# 1
def is_symmetrical(num):
    return str(num) == str(num)[::-1]

print(is_symmetrical(7227)) # True
print(is_symmetrical(12567)) # False
print(is_symmetrical(44444444)) # True
print(is_symmetrical(9939)) # False
print(is_symmetrical(1112111)) # True

True
False
True
False
True

In [2]:
# 2
def multiply_nums(nums_str):
    nums = [int(x) for x in nums_str.split(", ")]
    result = 1
    for num in nums:
        result *= num
    return result

print(multiply_nums("2, 3")) # 6
print(multiply_nums("1, 2, 3, 4")) # 24
print(multiply_nums("54, 75, 453, 0")) # 0
print(multiply_nums("10, -2")) # -20

6
24
0
-20

In [3]:
# 3
def square_digits(num):
    result = ""
    for ch in str(num):
        result += str(int(ch) ** 2)
    return int(result)

print(square_digits(9119)) # 811181
print(square_digits(2483)) # 416649
print(square_digits(3212)) # 9414

811181
416649
9414

In [4]:
# 4
def setify(lst):
    return sorted(list(set(lst)))

print(setify([1, 3, 3, 5, 5])) # [1, 3, 5]
print(setify([4, 4, 4, 4])) # [4]
print(setify([5, 7, 8, 9, 10, 15])) # [5, 7, 8, 9, 10, 15]
print(setify([3, 3, 3, 2, 1])) # [1, 2, 3]

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

In [5]:
# 5
def mean(num):
    return sum([int(ch) for ch in str(num)]) // len(str(num))

print(mean(42)) # 3
print(mean(12345)) # 3
print(mean(666)) # 6

3
3
6