In [1]:
# 1
def next_in_line(lst, num):
    if len(lst) == 0:
        return "No list has been selected"
    else:
        lst.append(num)
        lst.pop(0)
        return lst

print(next_in_line([5, 6, 7, 8, 9], 1))
print(next_in_line([7, 6, 3, 23, 17], 10))
print(next_in_line([1, 10, 20, 42 ], 6))
print(next_in_line([], 6))

[6, 7, 8, 9, 1]
[6, 3, 23, 17, 10]
[10, 20, 42, 6]
No list has been selected

In [2]:
# 2
def get_budgets(people):
    budget_sum = 0
    for person in people:
        budget_sum += person["budget"]
    return budget_sum

print(get_budgets([
{"name": "John", "age": 21, "budget": 23000 },
{"name": "Steve", "age": 32, "budget": 40000 },
{"name": "Martin", "age": 16, "budget": 2700 }
]))
print(get_budgets([
{"name": "John", "age": 21, "budget": 29000 },
{"name": "Steve", "age": 32, "budget": 32000 },
{"name": "Martin", "age": 16, "budget": 1600 }
]))

65700
62600

In [4]:
# 3
def alphabet_soup(txt):
    txt = list(txt)
    txt.sort()
    return "".join(txt)

print(alphabet_soup("hello"))
print(alphabet_soup("edabit"))
print(alphabet_soup("hacker"))
print(alphabet_soup("geek"))
print(alphabet_soup("javascript"))

ehllo
abdeit
acehkr
eegk
aacijprstv

In [5]:
# 4
def compound_interest(p, t, r, n):
    value = p * (1 + r / n) ** (n * t)
    return round(value, 2)

print(compound_interest(10000, 10, 0.06, 12))
print(compound_interest(100, 1, 0.05, 1))
print(compound_interest(3500, 15, 0.1, 4))
print(compound_interest(100000, 20, 0.15, 365))

18193.97
105.0
15399.26
2007316.26

In [6]:
# 5
def return_only_integer(lst):
    integers = []
    for element in lst:
        if isinstance(element, int):
            integers.append(element)
    return integers

print(return_only_integer([9, 2, "space", "car", "lion", 16]))
print(return_only_integer(["hello", 81, "basketball", 123, "fox"]))
print(return_only_integer([10, "hockey", "juice", 4.5, "soccer", 6]))
print(return_only_integer(["hello", "world", 29]))

[9, 2, 16]
[81, 123]
[10, 6]
[29]